/* 
 * CS 341: Homework 4
 * Purpose: A CSS file that styles the cheesecake order form to make it more appealing. This is an updated CSS file that contains formatting for an additional dropdown button
 * File type: .css file
 * Author: Sean Yang
*/

/* Changes the body to use a lightblue color. Also changes background to use an image with 50% opacity so it is faded */
body {
  background-image: url("https://www.thedailymeal.com/img/gallery/the-story-behind-the-cheesecake-factorys-truly-unique-decor/intro-1691678226.webp");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Changes the size and font of the title "Cheesecake Order Form." This also adds a slight outline (actually a text shadow) to make text more legible */
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: left;
      text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
}

/* Changes the size and font of the title "Total Orders Last Month." */
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: left;
      text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
}

/* Changes drop-down box and radio button titles */
td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 10px;
}

/* Modifies size and shape of the drop-down box */
select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 7px;
    border-radius: 10px;
}

/* Modifies size and shape of the button */
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
}

/* Modifies shape of the cheesecake image */
img {
    border-radius: 15px;
}

/* Changes the font and adds an outline to the text area textbox */
p {
  font-family: verdana;
  font-size: 20px;
  text-shadow: 
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
    1px  1px 0 #ffffff;
}

/* Dropdown button was taken from a template by W3 schools: https://www.w3schools.com/howto/howto_css_dropdown.asp */
/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 32px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.monthlyOrders {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Changes text for the Total Orders section */
ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 36px;
}